@tailwind base;
@tailwind components;

@layer components {

    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
      *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
        @apply scroll-smooth
    }

    .animated {
        transition: all 450ms ease-in-out;
        @apply opacity-0
    }

    .shown {
        @apply opacity-100 translate-y-[-5px]
    }

    .neubutton {
        @apply rounded-[0.55rem] p-[0.3rem_0.4rem] md:p-[0.40rem_0.47.5rem] lg:p-[0.45rem_0.5rem] bg-[#e6e7eeaf] border-[1px] border-[#d1d9e6] shadow-[3px_3px_6px_#b8b9be,_-3px_-3px_6px_#fff] text-[#44476a] font-['Portada']
    }

    .neubutton:hover {
        @apply text-[#555b8a] bg-[#e6e7ee] border-[1px] border-[#e6e7ee] shadow-[inset_2px_2px_5px_#b8b9be,_inset_-3px_-3px_7px_#fff]
    }

    .grid-item {
        @apply flex flex-col my-auto gap-2 md:gap-5
    }

    .grid-item-img {
        @apply w-[28px] md:w-[54px] h-auto invert mx-auto
    }

    .grid-item-txt {
        @apply text-white text-[0.60rem] leading-4 md:text-lg max-w-[200px] text-center font-['Portada']
    }

    .mode-card {
        @apply px-4 max-w-[320px] md:max-w-[420px] lg:max-w-[400px] mx-auto
    }

    .mode-img {
        @apply  w-full h-auto mx-auto rounded-md shadow-sm shadow-slate-500
    }

    .mode-container {
        @apply bg-[#ffffff81] w-[80%] h-[80px] rounded-md mx-auto -translate-y-2/3 shadow-lg shadow-slate-500 flex backdrop-blur
    }

    .mode-logo-wrapper {
        @apply flex px-2 border-r-[1px] border-[#1111113b]
    }

    .mode-logo {
        @apply w-[18px] h-auto my-auto
    }

    .mode-desc-wrapper {
        @apply flex flex-col w-full
    }

    .mode-desc {
        @apply flex flex-row justify-evenly font-mono py-[1px]
    }

    .mode-name {
        @apply font-medium
    }

    .mode-player-wrapper {
        @apply flex flex-row gap-2
    }

    .mode-player-count {
        @apply flex
    }

    .mode-player-icon {
        @apply w-[18px] h-[18px] my-auto flex
    }

    
    .mode-command {
        @apply font-mono bg-[#111111] text-white w-full h-full flex items-center justify-center rounded-br-md rounded-bl-none
    }

    .smedia {
        @apply flex flex-col opacity-[85%] hover:opacity-100 hover:cursor-pointer transition-all gap-1 my-auto
    }

    .smedia-icon {
        @apply w-[24px] h-auto mx-auto
    }

    .smedia-name {
        @apply font-mono text-[0.7rem] text-slate-700
    }
}

@tailwind utilities;

